[2018-01-23 19:02] embiem opened #1 "TODOs for v1"
A list of TODOs before transitioning to v1.0.0:

- [x] Customization: Props to disable editing and only display a drawing.

- [x] Customization: Allow responsive & fullscreen canvas.

- [ ] Testing: Core features should be fully tested.

- [x] Examples: A list of quick-use examples.

- [x] Improvement: Support touch devices.

[2018-07-31 09:05] sespinosa opened #2 "Suggestion"
Add the option to set a background image via props, it could be a Image object or a URL.

This library is really cool, because is small, simple to use and overall well done.

I can submit a PR on the next days to add that feature if you want.

(Now im using the ref to the canvas to add a background image, but it messes the undo() and its ok because you need to render the background and redraw the

[2018-07-31 17:02] mBeierl commented on #2
Thanks for the suggestion! Feel free to submit a PR :)

[2018-08-14 13:26] b5imply opened #3 "Question/Suggestion: check if CanvasDraw has been drawed on"
Are there any support, or suggestion for some function to know if a canvas has been drawed on or not. I noticed in the code there is an array to store lines. Maybe if a boolean is returned if the linesArray is empty.

I'm questioning because I want to use this canvas in my forms, and want to validate. I figure that only thing we want to validate is when a drawing is required, hence we need some bo

[2018-08-14 13:40] mBeierl commented on #3
Hey!

2 approaches here:

1. You could use the prop "onChange", which is a function that is called every time the user draws in the canvas
2. Get a ref ([example](https://github.com/mBeierl/react-canvas-draw/blob/master/demo/src/index.js#L104)) and then check on the reference whether `canvasRef.linesArray.length > 0`

Hope this helps.

[2018-09-28 13:14] #3 closed

[2018-10-07 10:49] embiem commented on #2
I think it's a cool idea, will pick it up now!

[2018-10-07 11:55] embiem commented on #2
@sespinosa if you can, I'd like you to have a look at the PR #4 and let me know you feedback.

[2018-11-03 14:41] embiem opened #7 "[BUG] Drawing produces extra dots"
When drawing, extra dots are produced. This is visible when using a transparent color.

An example:
![image](https://user-images.githubusercontent.com/3866457/47953496-d3f93c80-df7e-11e8-9076-a43c0f94ebdf.png)

I'm going to look into this in the `fix/transparent_color_artifacts` branch.

[2018-11-17 00:50] embiem commented on #7
Fixed by #8

[2018-11-17 00:50] #7 closed

[2018-12-13 22:22] embiem commented on #1
I have heavily used this component in a project. Will need to add tests next, but I released a v1.0.0, as I feel it is quite stable.

[2018-12-13 22:22] #1 closed

[2018-12-20 01:39] bjclark13 opened #10 "Custom Line Types"
Hi! I really love this package, and its simplicity.

I was wondering if you have done anything with custom lines, for example, rather than just a simple line, users can instead select from line types and choose to draw an arrow, or something to that effect.

If not, no worries, just checking. :)

[2018-12-20 19:41] embiem commented on #10
Hi!

This component only supports free drawing. The only adjustable styles are the width and color of the brush for now.

[2018-12-23 18:31] bjclark13 commented on #10
Okay, thanks for getting back to me!

[2018-12-23 18:31] #10 closed

[2019-01-13 01:02] Stunext opened #11 "toDataURL"
How I can use toDataURL to get the canvas image?

[2019-01-13 17:20] embiem commented on #11
Hey!

It's currently not easy to do this, but possible. I created an example here: https://codesandbox.io/s/ko956o59or

You're bringing up a good point though. This functionality could be built-in to this component. Or at least exposing the canvas element containing the drawing more easily to call native canvas function like toDataURL.

[2019-01-14 13:17] #11 closed

[2019-01-25 17:51] clark-rob opened #12 "Question relating to saveData"
Hey there!
First want to say, this package is really great! Easy to follow and understand, especially for a junior developer. So, thank you.

My question is if you have ever come across this error:

[code]

I am showing multiple `<CanvasDraw/>` components that contain the props `saveData` that all equal a different drawing.  These are all found on one route, and this error appears in the console o

[2019-01-27 09:17] embiem commented on #12
Hey, thanks! Glad you like it.

Do you also use the `imgSrc` prop on any of the CanvasDraw components?

If this error happens when you switch routes, it's may have something to do with the drawImge function being called once the image is loaded, even though the canvas has already been destroyed. I'll have a look whether this might be the problem.

[2019-01-28 14:24] clark-rob commented on #12
I currently am not using the `imgSrc` prop on any of the components.

I had the same feeling that the drawImage function is trying to create a canvas that, as you said, was destroyed on the route switch. It has been a brain teaser trying to figure out the error, but I am determined. Thank you for responding and helping me out. I greatly appreciate it.

[2019-02-09 11:02] laeckerv commented on #12
Just realized my PR #13  might fix this

[2019-02-11 13:38] nmkname commented on #12
Same issue, but, in my case, its little bit affecting performance.
I placed canvas on top of the images, to let users remember their order by drawing lines on them. And then, when canvas is unmounted the same errors appear.

[2019-02-22 09:39] embiem commented on #12
Thanks @laeckerv for your PR. I just merged it. @nmkname & @clark-rob could you please check whether the just merged PR fixes this error for your use cases?

Please use the current master branch to test, I have not pushed a new version to npm yet.

[2019-02-22 21:59] clark-rob commented on #12
Awesome! Thanks @embiem, I will definitely check the new merge.
And also, thank you @laeckerv , I do hope this will fix my issue. Sorry about the delayed response time.

[2019-03-19 16:25] m0Rdk opened #15 "Warning: Invalid PropTypes for canvas dimensions"
Greetings!

I have recently been using your package for a project at work, and say that I feel very comfortable with it. It's simple, reliable and predictible. Thank you very much.

I found that wherever I use a `string` to set percentage dimensions in `canvasWidth` or `canvasHeight` properties (which I have to), `PropTypes` throws a warning message telling me to set it as a `number` instead of a

[2019-03-21 16:18] rusch95 opened #16 "Dev dependency has a vulnerability"
css-loader@0.28.9 depends on macaddress@0.2.8, which has a [arbitrary command injection vuln](https://snyk.io/vuln/SNYK-JS-MACADDRESS-12141
)

You can fix it by updating the major version of css-loader, which I think is on 2.x.x now.

[2019-03-23 16:22] embiem commented on #15
Hey @m0Rdk! Thanks, glad that the component works for you 😃

I agree, string and number should be allowed. If you want, you can submit a PR for this.

[2019-03-23 17:02] embiem commented on #16
Hey, thanks for reporting this. Have update some devDependencies in a new branch, but will still have to test it.

[2019-03-26 09:30] issac1024623 commented on #12
wonderful package. Thanks for you contribution.
One thing I cannot achieve it,
I cannot export the canvas img and background together to base64
Do I need to use the this.saveableCanvas.getSaveData() to re-create a img?
Please Help.
Thanks

[2019-03-28 11:48] m0Rdk commented on #15
Hello,

Sorry for the late, I have been on vacation for the last week. This afternoon I am working on the fix, planning to submit the PR for today evening.

Have a good day.

[2019-03-29 17:49] #15 closed

[2019-04-01 14:29] #12 closed

[2019-04-02 14:39] thug1705 opened #21 "Is it possible to get area or coordinates of shape that gets drawn on background image?"
Just wondering is there API which provides access to coordinates or area of drawn shape ?

[2019-04-04 21:22] nmassi opened #22 "Error: ENFILE: file table overflow, open 'node_modules/color-convert/route.js'"
After instalation I got that error. Someone knows how to fix this?

[2019-04-04 23:26] embiem commented on #22
Hey, after a quick Google search I found this: https://github.com/meteor/meteor/issues/8057#issuecomment-261011063

Let me know if this was the issue and whether the solution helped

[2019-04-04 23:30] embiem commented on #21
Hey!

There's no such API at this moment. The closest you can get to this atm is the [getSaveData()](https://github.com/embiem/react-canvas-draw/blob/develop/src/index.js#L178) function.

[2019-04-12 12:29] audrium commented on #15
Hi, I also need this feature. But I noticed that you forgot to push the latest version to npm (https://www.npmjs.com/package/react-canvas-draw).  1.0.1-hotfix.4 is still the latest one. Can you update it? Cheers

[2019-04-14 11:00] embiem commented on #15
Hey @audrium , the latest version does actually include this PR.

Could you please check that you have 1.0.1-hotfix.4 installed?

[2019-04-16 13:20] audrium commented on #15
Hi @embiem, yeah, it was my mistake, latest release does include this PR. Everything is working fine, thanks for the nice lib!

[2019-04-23 18:53] embiem commented on #22
Closing this, let me know if the mentioned reference didn't work.

[2019-04-23 18:53] #22 closed

[2019-04-23 18:54] embiem commented on #21
Hey, I'll close this for now.

[2019-04-23 18:54] #21 closed

[2019-05-13 16:55] muhdusman opened #24 "CaptureStream to Video"
Hi,
I have successfully embed the plugin and its working very well
But I want to integrate it with webrtc solutions, for that I need to convert output of canvas to video through capturestream, but I am unable to do that
Any help would be highly appreciated.  Thnx again

[2019-05-24 18:18] chriamue opened #25 "Question: dynamic size based on background image"
Hi, is it possible to set canvas width and height to background img width and height?
I tried something like that, but the canvas shows only the grid then.
[code]

[2019-05-27 05:56] santosh898 commented on #24
for now this module does'nt support capturestream out of the box, because it uses 4 canvas elements stacked up(cursor,drawing,live drawing,background).
But you can create a hidden canvas and write all 4 canvas data for every `window.requestAnimationFrame(callback)` and stream it.

[2019-05-27 06:06] santosh898 opened #26 "Accepting Blob url or base64 in imgSrc"
Thanks for a powerful lightweight library,
I was trying set custom background using both blob and base64 and looks like it failed to load and fallback to default background.
It would be nice if imgSrc can handle blob urls or base64 urls aswell.

[2019-05-30 07:18] gaelj opened #27 "Empty package files"
The package generated at https://registry.npmjs.org/react-canvas-draw/-/react-canvas-draw-1.0.1.tgz, which is used for npm install, is empty (except for LICENSE, package.json and README.md)

[2019-06-06 11:10] Zeeedark opened #28 "list of lines"
how to get All list lines .I try  get all list lines but the firt time lines every null
Can i help me
`import React from 'react'
import CanvasDraw from "react-canvas-draw";
import ReactDOM from 'react-dom'
import './paint.scss'

export class PaintComponent extends React.Component {
  state = {
    color: "red",
    width: 80000,
    height: 400,
    brushRadius: 10,
    lazyRadius: 12,
    strData

[2019-06-15 01:59] Bosn commented on #27
Same problem here...  Can't resolve 'react-canvas-draw' in 'xxx' errors occurred.

[2019-06-15 19:06] embiem commented on #25
Hey, yes this should be possible.

From your code example, it looks like you're assigning the Image object itself as `img` in state, but then want to read `imgWidth` etc. from state. Are the `imgWidth`, `imgHeight` and `backgroundImg` props actually defined on the state?

If you could share an example showcasing the issue in a [codesandbox](https://codesandbox.io/), that'd be awesome. Thanks!

[2019-06-15 19:07] embiem commented on #24
Thanks @santosh898 for answering.

[2019-06-15 19:07] #24 closed

[2019-06-15 19:08] embiem commented on #26
I agree, will tag as bug.

[2019-06-15 19:31] embiem commented on #28
Hey, first it'd be great if you create an example in codesandbox. I quickly copied your example code into one: https://codesandbox.io/embed/react-canvas-draw-example-ndq5d

If I understand you correctly, you're wondering why in the mousedown event handler, when console logging `list.lines` it shows an empty array and just logging `list` shows actual entries in the `lines` array, once you expand th

[2019-06-15 19:31] #28 closed

[2019-06-15 19:45] embiem commented on #27
Hey, sorry for this inconvenience. There were issues as I moved the build & publish process to travis. The `1.0.1-hotfix.4` did fix this.

I also just now published a new minor version 1.0.2 (included #23) which should also work. Please make sure to stick with these latest versions, now preferably 1.0.2.

[2019-06-15 19:45] #27 closed

[2019-06-25 13:03] Code-Crash commented on #2
Hi @embiem,

is there any way to set the background as white or any specific color instead of transparent?
for example: in my case, I'm using this cool library for capturing the signatures of the user and it's working, but the background is transparent right now, I want it to set as white or something.

Thanks

[2019-06-25 20:02] brettmorris opened #29 "Touch Drawings Lags Behind Cursor"
Thanks for the awesome library! It's very handy and easy to use.

I discovered an issue with touch devices. When using the mouse to draw, the line starts at the initial mouse down position. You can see in the image below that when I start drawing at the edge of the grey pillar, the line starts from that location.

![no lag on mouse](https://user-images.githubusercontent.com/4228378/60128198-b1a76f

[2019-06-29 13:16] rajatbarman opened #30 "Immediate flag should be really immediate"
Right now it is in a setTimeout with 0 timeout, this affects drawing experience a bit. If immediate is true it should execute without setTimeout like implemented in this file.

https://github.com/rajatbarman/react-canvas-draw/blob/master/src/index.js

[2019-07-19 23:27] CamilaAlvarez opened #31 "How do I contribute to this project?"
I found an issue that happens when you place the canvas on a modal on iPhone devices. I've solved it and I'd like to contribute to the project with my fix.

[2019-08-17 19:27] aoelbaum opened #34 "Preventing scrolling"
Thank you for this awesome library! I have noticed that if your page has horizontal or vertical scrolling then using touch input on the canvas for mobile devices makes it very difficult to draw. Have you thought about preventing scrolling on the document.body if the target of the touch event is the canvas?

(Side note: I appreciate the undo method, but have you also thought about implementing an e

[2019-09-21 13:17] Ivanrputra opened #35 "how to get canvas data as base64?"

[2019-09-22 15:22] axelmarciano opened #36 "We cannot export final canvas to png or base64"

[2019-09-29 01:56] jessicaanhdao commented on #35
I would love to know this too

[2019-09-29 13:11] jessicaanhdao commented on #35
So what I did was
have ` images : [] ` in state
then called a function that gets binary from canvas tag. If you check from Inspect, there are 4 canvases, one of them is our drawing, one is the white canvas, one is the brush and one is something else. The second canvas is where our drawing is.
[code]
then in `render()`
[code]

[2019-09-29 13:11] jessicaanhdao commented on #36
So what I did was
have ` images : [] ` in state
then called a function that gets binary from canvas tag. If you check from Inspect, there are 4 canvases, one of them is our drawing, one is the white canvas, one is the brush and one is something else. The second canvas is where our drawing is.
[code]
then in `render()`
[code]

[2019-09-29 21:20] Ivanrputra commented on #35
thanks, this help me a lot
hope this will work on my project

[2019-09-29 21:20] #35 closed

[2019-10-15 01:50] iknox27 opened #37 "Question: How to know when loadSaveData ends the live drawing?"
Hi @embiem I tried approach number 1 from here https://github.com/embiem/react-canvas-draw/issues/3  but didn't received any log. Is there a way  to  know when  loadSaveData ends the live  drawing ?

[2019-11-04 19:59] mp2468 opened #39 "Question: any way to receive events from the canvas draw and pass out the updated object?"
I'm noticing that all of the events that happen inside are blocked with event.stopPropagation but in this case I am trying to get an event emitted every time new draw happens (in order to convert it to b64 and save it in my state). Not sure if relevant to this but the reason I'm doing that is because in the event of a window resize, the image inside the canvas disappears and I'd like to be able to

[2019-11-07 15:48] robinodling opened #40 "Question: How can i base points using percentage instead of fixed x and y?"
I would like the canvas to be resizable in the sense that if I draw a line in the middle of the canvas, when I resize the canvas, I still want the line to be in the middle.

Is it possible using this library out of the box? If not, how would I go about modifying the code?

[2019-11-09 14:18] hsluoyz opened #41 "How to draw with code?"

[2019-11-14 03:41] AnaghaThekkedath opened #42 "Can't draw dots"
The canvas doesn't handle on click, so when you need to make dots you have to click and drag minutely.
Thank you.

Also is it possible to give style to the background image?

[2019-11-22 11:56] embiem commented on #42
Thanks for reporting.

Currently, it is only possible to set an image as background in the canvas using the `imgSrc` prop.

[2019-11-22 12:00] embiem commented on #41
This component offers no API to draw with code. It is intended for drawing manually on a canvas.

You could create the `saveData` with code and assign it to the component to simulate a "draw with code" behaviour. Although I'd rather recommend working with canvas directly, or with one of the many frameworks building on canvas & webGL.

[2019-11-22 12:00] #41 closed

[2019-11-22 12:04] embiem commented on #40
This is currently not supported out of the box.

A good start point to add this feature would be the `handleCanvasResize` callback at https://github.com/embiem/react-canvas-draw/blob/master/src/index.js#L296

[2019-11-22 12:10] embiem commented on #39
Hey! Thanks for sharing your use case.

What I understand is, that you need an `onChange` event which you can pass to the CanvasDraw component and gets called every time something is drawn. Is this correct?

[2019-11-22 12:13] embiem commented on #36
Thanks @jessicaanhdao. A while ago I also answered this here: https://github.com/embiem/react-canvas-draw/issues/11#issuecomment-453848162

I'll create a new issue to track work on adding a better way and documentation for this, as it's a common use case.

[2019-11-22 12:13] #36 closed

[2019-11-22 12:17] embiem opened #43 "Add feature to export final canvas to png or base64"
As e.g. #36, #35, #11 show, it's a common use case to export final canvas to png or base64 using the toDataUrl() function. We want to support an easy and documented way to do this for this component.

Here is an example of how it can be done today: https://codesandbox.io/s/ko956o59or
`canvasRef.current.canvasContainer.children[1].toDataURL()`

My proposal is to have a proxy on the component, so th

[2019-11-22 12:22] embiem opened #44 "Add eraser mode"
In #34, an eraser prop was proposed. This could be a new `eraser` boolean prop on the component. When active, drawn lines intersecting with the pointer are removed instead of drawn.

[2019-11-22 12:26] embiem commented on #34
Thanks!

I've added a new issue to track the eraser mode you suggested.

Regarding the scrolling issue: I'm having trouble to reproduce this. When I start drawing then the page does not scroll.

Which browser and device do you experience this issue on?

[2019-11-22 12:32] embiem commented on #29
Thanks for these insights!

I can't reproduce this issue on my Android device in Chrome. Which device & browser were you using to record these screencasts?

[2019-11-22 12:35] embiem commented on #31
Thanks for taking the time to fix an issue! Feel free to create a PR with the fix.

[2019-11-22 12:49] embiem commented on #37
Hi and thanks for your question. Currently it's not possible to know when `loadSaveData` ends the live drawing.

I suggest we add a callback prop like `onLoadEnd`, which gets called after the initial load of a saved drawing is finished.
Would this solve your issue?

[2019-11-22 13:00] aoelbaum commented on #34
So I just tested on my iPhone again and it seems that I can’t reproduce the issue either. Perhaps, the issue has been fixed or back when I had tested the canvas, it was an issue of size and not the canvas itself. Either way, it looks good and you can close this issue. Also, thanks for adding my eraser suggestion as a new issue!

[2019-11-22 15:31] brettmorris commented on #29
Hey Embiem, we were using chrome in Windows 10 on touch screen laptops. A thinkpad and a dell. Hope this helps.

[2019-12-04 20:33] dyarfaradj opened #49 "Support for multiple color"
Add color to each point inside the listen -> points array so we can have support for multiple colors

[2019-12-04 21:37] dyarfaradj commented on #39
Yeah, a onChange is definitely needed. I hope you can add that

[2019-12-05 01:16] mp2468 commented on #39
Yes, that's exactly what I'm looking for @embiem. I want to save and export it in b64 format each time a new draw event is emitted.

[2019-12-28 20:20] oyeanuj commented on #39
@embiem Great library! I think I might have a related use-case (let me know if you'd like me to create a different issue if this is not related).

I'm trying to get the location where the mouse is being first clicked to drop icons/emojis on top. Essentially, instead of free form drawing, users can tap on different parts and different emojis will appear there on the canvas. So, to make that happen

[2019-12-28 22:05] dyarfaradj commented on #39
owner seems inactive, you can use this https://github.com/sowcow/react-canvas-draw instead, it's a fork but with onChange implementation

@embiem You can merge this PR #50 it adds onChange

[2019-12-29 20:32] embiem opened #53 "Add brushes"
## Idea

Right now, we only support a very static circle brush. To serve more use cases and make react-canvas-draw more customizable, we could implement a brush system.

The Brushes could implement their own drawing behaviour, which would allow for different shapes or more specialized effects.

As a default brush, the current circle brush with customizable color and radius should be implemented.

[2019-12-29 20:33] embiem commented on #39
@dyarfaradj thanks for the PR to add an onChange prop, I'll merge and release new version asap.

@oyeanuj your use case is more specific than free form drawing, which is currently the focus of this component. You could fork this component and modify it to your needs.

The only way I'd see this functionality as part of react-canvas-draw, is if we introduce some kind of brush system to modify what i

[2019-12-29 20:33] #39 closed

[2019-12-29 21:45] embiem commented on #30
Thanks for reporting!

This is now fixed in version 1.1.0

[2019-12-29 21:45] #30 closed

[2019-12-29 21:51] embiem commented on #49
Thanks for mentioning this. Just FYI: Different colors per line are possible, but not per point.

I think this should be related to the effort to add a brush system (#53). Then, a "Multicolor" brush could be implemented, which supports point-level colors.

[2019-12-29 21:51] #49 closed

[2019-12-29 22:49] #29 closed

[2019-12-29 22:51] embiem commented on #29
Hey Brett, I was able to reproduce and fix your issue. Thanks again for reporting it here!

If you have the time, I'd appreciate your confirmation whether the issue is actually fixed. Please use the current develop branch to test.

[2019-12-29 22:52] #42 closed

[2019-12-29 23:01] embiem commented on #42
This is now fixed, will be released in the next version (1.1.1)

[2019-12-29 23:02] #34 closed

[2019-12-29 23:03] embiem commented on #31
Please let me know if you need any further assistance.

[2019-12-29 23:03] #31 closed

[2019-12-29 23:04] #25 closed

[2019-12-31 11:36] renaiku opened #57 "imgSrc sometimes not showing"
Hello !

I'm testing the following code on two devices at the same time (mobile and desktop). Both using firefox. Did not try with chrome.

`imgSrc` is either a jpeg in the same folder or a base64 string.

I got a server that shows the following component on all clients at the same time for ~30seconds.
After that delay, i'm not displaying it anymore. so the react event `componentWillUnmount()` is

[2020-01-08 12:43] ksocha commented on #37
I have a similar issue. I'm currently trying to sync canvas data between multiple users (each of them has to be able to draw).
I've tried to make use of `onChange` prop to get the data from currently drawing user and propagate it to other users. After receiving the data, others would call `loadSaveData` to apply it to their canvases. Problem is that after calling `loadSaveData`, `onChange` callbac

[2020-01-08 15:39] ksocha commented on #40
@robinodling Did you have any luck with modifying the code? I'm in need of similar solution.

[2020-01-22 18:50] Niravpatel129 opened #60 "Question: How to toggle / hide the cursor?"
Is there an option or a way to hide the cursor/brush that follows the mouse?

[2020-01-22 18:56] #60 closed

[2020-01-23 22:09] WallTack commented on #44
I've put together an eraser prop, you can demo it [here](https://pixelever.herokuapp.com/). We could also implement an 'eraserColor' prop rather than having it hard-coded. The one current downside is that all of the eraser lines are added the same way that brush lines are added, adding some unnecessary length where eraser points aren't intersecting brush strokes. I can fix this, but I just wanted

[2020-01-26 03:11] WallTack commented on #53
I'm working on a solution for this right now. Regarding removing brushRadius and brushColor props, do you mean that we would instead add all of that into a single "brush" prop as an array that includes size, color, shape, effects, etc?

[2020-02-10 14:00] anil32 opened #61 "imgSrc not rendered!"
at first image , there is no problem but if you try to select another image ant set it with setState,  imgSrc not rendered

[2020-02-13 12:21] easyselva commented on #61
Me to have same problem. Any solution?

[2020-02-15 06:29] easyselva commented on #61
after changing src  please do this  this.saveableCanvas.drawImage();

[2020-02-15 23:51] sjzamora86 commented on #61
Thanks @easyselva it works for me! :D

[2020-02-17 05:55] Mwlm opened #62 "Question: How can i save canvas with the background image?"
I have a background image and would like to draw some lines on top of the image. I would like to save canvas with my background image.

[2020-02-18 19:52] astritspanca opened #63 "How to convert the points into an image or render in the browser?"

[2020-03-06 17:11] embiem commented on #63
Can you please elaborate a bit more on what you're trying to achieve?

[2020-03-06 17:17] embiem commented on #43
Additionally, in #62 there's the need to save the drawing together with the background image into a new image. When implementing the feature described here, one should take this case into account as well.

[2020-03-06 17:19] embiem commented on #62
Hey, sorry but this is currently not possible without extra code. I've tracked your request in #43, as other people have articulated their need to save the drawing to an image as well.

[2020-03-06 17:19] #62 closed

[2020-03-06 17:21] embiem commented on #63
If you mean saving the drawing to an image, we have a feature request tracked in #43 .

[2020-03-06 17:23] embiem commented on #61
Actually, reopening to track as an issue. The component should detect the changed image src and update accordingly.

[2020-03-09 11:38] TheAlemazing commented on #43
Any updates?

[2020-03-09 18:38] s-kris commented on #43
Any updates? Thanks

[2020-03-09 19:43] embiem commented on #43
Sorry, just saw that I'm assigned. This ticket is up for grabs. I currently have not the time to work on this.

If you plan on working on this, please write a short notice here so others know.

[2020-03-16 19:15] zemiacsik commented on #62
If someone is still interested in this.
I have just used @embiem advice in #43 with some stackoverflow and put canvases on top each other:

`let baseCanvas = canvasRef.current.canvasContainer.children[3]; // canvas with background image`
`let baseCanvasContex = rootCanvas.getContext('2d');`
`baseCanvasContex.drawImage(canvasRef.current.canvasContainer.children[1], 0, 0); // add drawing`
`return ba

[2020-03-22 19:17] vaneavasco opened #65 "images not loading in Safari"
Sometimes a flash of that image can be seen then the canvas becomes blank again, but in about 90% of cases the image is not displayed.

This issue is present in even in /demo ( https://embiem.github.io/react-canvas-draw/ )

I think the problem is in `handleCanvasResize`, if you have any ideas...

[2020-03-26 01:37] ps2-controller opened #68 "Is there a way to access canvas context methods?"
Hi, thanks so much for making this library! I was wondering - is there a way to access methods such as `beginDraw()` on the underlying canvas context? Ideally I'd like to do something like this
[code]
[code]

reference: https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/beginPath

[2020-03-31 15:06] thegeminisociety commented on #40
@robinodling Also in need of this, anyone make any traction on this?

[2020-04-03 07:51] ps2-controller commented on #68
Figured it out :) accessing `context.handleMouseDown` and `context.handlePointerMove` gets the job mostly done for me.

[2020-04-03 07:51] #68 closed

[2020-04-03 23:12] foucdeg opened #69 "Using saveData without animation"
I'm trying to rerender a previous drawing using the `saveData` prop.

Using this prop it seems that the drawing has to be animated, whereas the `loadSaveData()` accepts a second argument to disable animation.

Is there any way to disable drawing animation when using the `saveData` prop ?

[2020-04-07 12:01] Drarig29 opened #70 "Tainted canvas"
I tried the solution given [here](https://github.com/embiem/react-canvas-draw/issues/62#issuecomment-599714872), but I have this error:

I found a [solution](https://thisinterestsme.com/tainted-canvases/), you'd only have one line just after this one:
https://github.com/embiem/react-canvas-draw/blob/de4ec18601f769efa8b11b9e6ac5d86b23beb117/src/index.js#L168

You'd need to add:
[code]

[2020-04-10 15:56] alexfruehwirth commented on #69
@foucdeg set `loadTimeOffser={0}` as a prop. This should solve your issue!

[2020-04-12 05:22] eTr0nic opened #71 "Loading from saveData doesn't work when height/width of original canvas was set to 100%"
For my original canvas, I've set the canvasWidth and canvasHeight to '100%' which works well in and of itself. However, when saving the data and then loading it via the saveData prop on a different canvas, it does not draw at all. If you try to draw on the canvas you'll notice it constantly refreshes as it 'tries' to draw the saveData string, but it doesn't actually show up on the canvas itself.

[2020-04-12 05:37] eTr0nic commented on #71
I see this is because of how the scaling is determined. Proposing that on saving the width/height data, instead of grabbing from the prop values it determines the height/width based on the canvas Dom element itself.

[2020-04-15 02:08] Maark007 opened #72 "How I can use the CLEAR function?"
Well I tried these way:
``
    <div>
            <CanvasDraw
              brushColor='#000'
              lazyRadius='0'
              brushRadius='3'
              canvasWidth={400}
              canvasHeight={200}
              styled={{ marginLeft: 10, marginRight: 10 }}
              Ref={1}

            </CanvasDraw>
            <button onClick={() => this.saveableCanvas.clear()}>Clear</butt

[2020-04-15 14:26] joekur opened #73 "Drawing dots on mobile (touch)"
Related to https://github.com/embiem/react-canvas-draw/issues/42 - I built the latest develop branch and verified that the fix in https://github.com/embiem/react-canvas-draw/commit/4a8c22783087d62bd09253e556b0decc71d1e1ac does fix the issue, but only on my laptop with a mouse. On an iphone both chrome and safari won't allow me to do a quick touch to draw a dot.

I did a bit of digging and noticed

[2020-04-15 14:46] joekur opened #74 "Undo performance"
I'm seeing the `undo()` function become slow as you draw a lot of lines on the canvas. This makes sense because I see we need to redraw all of our lines on each undo (except for the last line which is popped off our save data).

Would it help to have a limited buffer of changes that can be undone? Maybe the length of which could be configured via prop?

Maybe the drawing could be kept in two canva

[2020-04-15 17:32] sunnypatel165 opened #75 "Possible to detect Intersections and overlaps"
Imagine User A has drawn something - say 2 random polygons. I have 2 questions:

1. When I call saveData(), is there a way to detect the two objects separately or will it be just one shape?
2. Imagine a User B is presented with the same shapes and clicks inside one of them (say just a dot/point being drawn with the same brush). What would be the best way to detect if User B's shape "lies inside" o

[2020-04-17 10:04] Code-Crash commented on #26
Hi @embiem

Any progress on this bug? or can I create a PR for the same?

Thanks

[2020-04-17 10:14] embiem commented on #26
@Code-Crash you're welcome to create a PR to fix this!

I'll assign you to this issue, thanks a lot!

[2020-04-17 10:15] #57 closed

[2020-04-17 10:26] Code-Crash commented on #26
@embiem

Let me try,

one quick question, from where I can create sub-branch for PR?
master or develop as I can see after the clone, the primary branch is develop branch.

[2020-04-17 14:33] Code-Crash commented on #26
Hi @embiem

I have added a fix as a feature (Refreshable Background Image), but I'm unable to push the new branch.
I have created a branch from the develop branch.

Error:
[code]

Can you give me the permissions or I need to do by myself (any guide)?

Thanks

[2020-04-17 15:45] NishantTadvi commented on #72
[code]

[2020-04-17 15:49] NishantTadvi commented on #61
Also Image is overlapping each other
![image](https://user-images.githubusercontent.com/52619777/79588043-035b2500-80f1-11ea-98c8-6c3cd0b16841.png)

[2020-04-17 21:49] Maark007 commented on #72
@NishantTadvi  Didn't work.

[2020-04-17 23:17] Maark007 commented on #72
Well, work with useRef().

[2020-04-17 23:17] #72 closed

[2020-04-21 14:23] rish6696 commented on #44
hey WallTack can you share the source code how you implemented the eraser in the library.

[2020-04-23 22:52] salehy1981 commented on #69
immediateLoading={true}

[2020-04-27 19:15] #70 closed

[2020-04-27 19:16] embiem commented on #70
Thanks! I just pushed the fix using the `crossOrigin` API.

[2020-04-27 19:18] embiem commented on #71
That makes a lot of sense, thanks for reporting!

I agree with your proposal. Do you have time to take this one on and submit a PR?

[2020-04-27 19:22] embiem commented on #73
Hmm interesting. I'll have to do some testing, especially in regards to using a `lazyRadius` > 0. In this case you'd not want to draw a dot with just a tap, but rather start drawing once you "pull" the brush a bit outside of the `lazyRadius`. Right?

Taking that into account, maybe we'll need to add something like a `forceTap` prop, which would then use your workaround to always draw a dot. What d

[2020-04-27 19:31] embiem commented on #74
I think this is a great idea.

To not break anything, what do you think about using a prop like `undoStackSize` with a default value of 0?
The default 0 would mean that we still use the exact same flow as we have right now, while anything above 0 will use the undo system you propose.

[2020-04-27 19:44] embiem commented on #75
Hey @sunnypatel165, thanks for your question!

This is an interesting problem. To best solve it, I'd recommend working with the saveData directly. We save each drawn "line" and its "points". So if you mean with "polygon" basically just one object that has been drawn in one go (pointer down -> draw -> pointer up), then you can get each "polygon" as a "line" in the response object of `getSaveData()`

[2020-04-27 19:48] embiem commented on #26
@Code-Crash Please fork the repo and branch off `develop`, push your changes to your fork and create a PR using the GitHub UI. Here's a guide: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-04-27 19:56] embiem commented on #44
@WallTack great demo, thanks for sharing! I'd also like to know more about the implementation. If you want, you can add a PR.

Regarding the export functionality: if you have the time, please submit a PR.
For coordination, please use issue #43 and PR #67, where some work on it has already been done.

[2020-04-27 19:58] embiem commented on #43
Referencing pending PR #67 here, which tries to implement this.

[2020-04-27 19:58] joekur commented on #73
I hadn't thought about the `lazyRadius` - I believe I've been using a small non-zero value in my testing. What's peculiar is that I can draw dots on desktop but not mobile, so this workaround was just to bring them to parity.

`forceTap` sounds reasonable, but in my experience with eg drawing apps for ipad, I've always expected to be able to draw a dot, even when using one of the pens that has a s

[2020-04-27 20:00] embiem commented on #69
Thanks! Both above mentioned solutions should work.

This is definitely an API that would need some rethinking for a v2, as it is not very clear how to achieve it, and it's actually achievable using these two mentioned methods. So, thanks for asking the question!

Closing for now, please let me know if you have any further issues with this.

[2020-04-27 20:00] #69 closed

[2020-04-27 20:04] embiem commented on #73
Thanks for your thoughts.

I think the `forceTap` is necessary to introduce this without any breaking changes, as existing usage is maybe relying on not drawing dots on tap.

For a v2, I'd definitely like to re-think this behaviour and maybe default to always draw a dot.

[2020-04-27 20:06] #63 closed

[2020-04-28 05:50] Code-Crash commented on #26
@embiem Thanks, I will update the PR.

[2020-04-28 06:06] Code-Crash commented on #26
@embiem Updated the PR, review merge it.

[2020-04-28 07:11] embiem commented on #16
This is still pending. There are also more security warnings now.

I think we should update to the latest nwb version, as well as update as many dependencies as possible without breaking anything.

[2020-04-28 07:36] embiem commented on #61
PR to fix this is in the works at #76

[2020-04-28 07:39] embiem commented on #26
Thanks! Looking good, I just requested one change and added suggestions that you could immediately commit via the Github UI.

Also, your PR will fix issue #61, but not actually this issue, right? This issue is about using a blob or base64 as the image source.

[2020-04-28 08:35] Code-Crash commented on #26
So, we can pass the base64 or blob in imgSrc and it worked, I have tested it.

[2020-04-28 14:38] joekur commented on #74
Yes my thoughts exactly. I think `0` makes sense as special value for unlimited.

[2020-04-28 20:13] petedejoy commented on #68
Hey @ps2-controller - can you give some more context on what you did to make this work? I'm trying to access the default `onDoubleClick` prop of the canvas that you can otherwise access by baking a vanilla canvas tag into a React component. Something like:
[code]

Any idea how I'd go about setting that up so that I can access that method? Note that it works when I pass that `onDoubleClick` prop di

[2020-04-28 20:39] ps2-controller commented on #68
Hmm, not sure - My workaround actually involves calling react-canvas-draw's own implemented wrapper functions such as [this one](https://github.com/embiem/react-canvas-draw/blob/253b68ea73c01bd2c153b8a9dcb732e4a72b8432/src/index.js#L360)

I call that as follows:

[code]

This works for my use-case since I'm using websockets to draw an image based on events instead of the user's manual mouse clicks

[2020-04-29 00:13] petedejoy commented on #68
That is helpful- thanks a bunch! Ended up wrapping the CanvasDraw component in a div that takes my onDoubleClick custom event. Seems to be working alright.

[2020-04-29 00:20] ps2-controller commented on #68
Awesome, glad to hear it :)

[2020-04-29 00:36] petedejoy opened #77 "Question: Possible to zoom without distorting canvas?"
Does anyone know if there's an elegant way to zoom in on the canvas to observe items/draw "up-close" without distorting the larger image? If there's a way to implement this and folks would find it useful, I'm happy to PR it as a default prop of the `CanvasDraw` component.

[2020-04-30 07:51] martin056 commented on #77
I needed this as well. Manged to do it by monkey patching the `getPointerPos` method. It doesn't look like a long-term solution so I'd be really happy to have it as an exposed API :+1:

[2020-04-30 12:58] petedejoy commented on #77
Mind sharing a bit more about how you rigged it up?

[2020-05-04 09:27] brooda opened #80 "Question: Is it possible to draw on "standard" elements"
Let's say, that I have a standard web page with headers, buttons etc...
Can I draw a trace of pointer using this library?

In other words - can I "embed" web page in canvas in such way, that I will:
- have the possibility to click buttons
- on the other hand: draw shadow of finger, when moving

[2020-05-05 08:49] martin056 commented on #77
@petedejoy It's a combination with the [react-zoom-pan-pinch](https://www.npmjs.com/package/react-zoom-pan-pinch) package.

I basically change/monkey patch the `getPointerPos` method when I store the canvas object ref:
[code]

If the CanvasDraw expects such prop, this can be safely added to the real `getPointerPos` method I think. Do you think PR with such a thing is okay?

[2020-05-05 08:57] martin056 opened #81 "`onChange` triggers"
* Calling `clear()` doesn't trigger `onChange`
* Calling `undo()` triggers `onChange` several (equal to the remaining lines) times

If the above points are not intentional, I can make a PR and fix them :)

[2020-05-05 11:37] Andreashoj opened #82 "Question - Problems with loadSaveData"
Hey, we have some problems with live sharing of the canvas (loadSaveData).
We have a getSaveData function that emits to other socket users when a user makes a change on the canvas, they then recieve the data and we run a loadSaveData function on the data. It works fine, but the problem is that we want the "live-drawing" effect so we set the immediate argument to false but it doesn't really append

[2020-05-05 13:32] petedejoy commented on #77
Ahh, that's interesting! I'll try to follow along and implement a similar function when I have a chance. I'm not sure how much of a lift it'd be to PR your `patchCanvas()`as a default prop of some kind, but it's definitely something I would put to use if that's of any influence.

[2020-05-06 12:24] nareshcse7 commented on #80
I have same question.
I am trying to integrate this library on my web app.
I need to display this Canvas layer on top of my main content which having interactive elements such as buttons, hyper links, slides etc.
When i am drawing on Canvas layer, i am not able to access any click events on my main content.

[2020-05-08 17:58] czynot opened #83 "Question: Is there a way to save generated images as files?"
Do we have a workaround to actually save the image that is generated after drawing to a png or jpg file? I actually wanted to save the image, and send it to the backend and use it with a neural network for Digit Classification. Can this be done?

[2020-05-10 22:36] richard-hajek commented on #83
I am literally working on the same project right now! Would definitely appreciate

[2020-05-11 02:55] czynot commented on #83
The issue has already been addressed here :
https://github.com/embiem/react-canvas-draw/pull/78

But I used something else to achieve this in my program :

[code]

And then you can convert the generated data to PNG in Python this way :

[code]

[2020-05-11 02:55] #83 closed

[2020-05-11 21:57] sgardn opened #84 "Unable to scroll on disabled canvas on mobile"
Hi there. I'm using the canvas component for a game I'm creating, and I find myself unable to scroll past the canvas while on mobile because of the css property `touch-action: 'none';` set on the wrapper `div` for the canvases. Basically, whether or not the canvas is disabled, all touch events fail to allow scroll. What I've done locally is conditionalize it like so:

[code]

I think that scrollin

[2020-05-14 09:16] MiYazJE commented on #82
Hello, i'm triying to develop the same thing... @Andreashoj  if you solved this pls let me know :D

[2020-05-15 12:08] git4anand opened #85 "Canvas is not Responsive"
Hi there, I'm using canvas component for a product where i need to display image on canvas which should be responsive.

[2020-05-15 12:21] git4anand opened #86 "Scale props for drawing on Canvas"
Hi there, i have faced the issue while using the react canvas component when i need to load a data onto a Canvas of different size. But drawing needs to remain same for a canvas of different size so if there is a props which can change the scale of drawing on canvas.
Something like below:

[code]

And scale can be used in `_loadSaveData()_` to keep the drawing as it is even after size is changed

[2020-05-25 12:41] sleepypikachu commented on #43
@embiem no action in some time on PR #67 so I'm going to pick this up if you don't object :-)

[2020-06-01 06:21] JustinTheeDude commented on #61
Is there a way to call an image in the imgSrc prop locally instead of using a hosted image?

[2020-06-01 08:09] elimauskopf commented on #77
Hey @martin056, how did you access the scale prop from Transform wrapper? I'm just not sure how scale is defined your example

[2020-06-01 19:59] clemkofi commented on #43
Nice @sleepypikachu ...... please any updates yet?

[2020-06-01 20:53] sleepypikachu commented on #43
I did a hack for now so moved on. If @embiem can clarify what he wants the API to look like I am happy to implement...

[2020-06-04 15:43] markbiddlecom commented on #77
I needed this to, so I built it! https://github.com/embiem/react-canvas-draw/pull/87

[2020-06-04 19:30] petedejoy commented on #77
@markbiddlecom the hero we don't deserve! Thanks a ton- will definitely be checking out your PR and giving it a shot as soon as I have a chance.

[2020-06-10 06:53] oreporan opened #88 "Missing points when drawing"
Hi
I'm trying to use this library to draw on an image, and then take the points drawn and create a new canvas with the image on it (rather than using the image as a background)
However when I try to re-draw the points that I got from `getSavedData()` , I get spaced-out points

While Drawing:
<img width="683" alt="Screen Shot 2020-06-10 at 9 50 28" src="https://user-images.githubusercontent.com/214

[2020-06-10 07:09] oreporan commented on #88
switched to use `lineTo()`

[2020-06-10 07:09] #88 closed

[2020-06-21 10:46] shamseertk commented on #43
### REACTJS : I did this for background image export. Hope this helps
    const d = this.saveableCanvas.canvasContainer.children[1].toDataURL();
    const w = window.open('about:blank', 'image from canvas');
    const img = require("relativepath to background image");
    w.document.write("<img src='"+d+"' style='background-image: url( " + img + "); background-size: contain' alt='Exporting'/>");

[2020-06-27 09:32] Qhristen opened #89 "HideGrid not toggling on and off according to state"
Hi,
I just started using react canvas draw for a project and I need to implement show or hide grid feature, but when I use the state to change from true to false it doesn't render immediately except I close the component and open it before I could see the change and sometimes it doesn't even change and everything looks good in my console

[2020-06-30 23:18] NizarBsb opened #90 "Coupling with Socket.io"
Great React Lib, thank you,

By using the Save & Load functionnalities, is it possible to capture the string data of the drawing on save and then push it via socket.io to load it for multiple clients? Think of collaborative whiteboard, I am definitely going to try it out but not entirely sure about the performance for real-time drawing.

[2020-07-05 09:40] ern-arrowsmith opened #91 "Issues with drawing on iOS devices"
I have had reports from playtesters of my game that touch input is not always working on these devices.

Issue 1: Touch input sometimes causes elements on page to highlight
Device/browser info:  {"client":{"type":"browser","name":"Mobile Safari","version":"13.1","engine":"WebKit","engineVersion":"605.1"},"os":{"name":"iOS","version":"13.5","platform":""},"device":{"type":"","brand":"Apple","model"

[2020-07-06 17:43] parammittal16 commented on #72
@Maark007 can you tell me how you user useRef here ? Thanks :)

[2020-07-07 16:26] ern-arrowsmith commented on #91
Digging around, it seems like this may have something to do with passive listeners. I'm continuing to investigate but the way in which the touch listeners are set may need changing.

I tested this on an iPhone 5S today with iOS 12.4, and Mobile safari 12.1 (webkit 605.1). The behaviour I saw was that the touch input was working on the canvas, but at the same time it was dragging the page. The only

[2020-07-08 06:19] loriopatrick commented on #82
I ended up changing a good bit of how the rendering works in a personal fork. My updates support the features you're looking for. I'm not sure when I'll find the time to prepare a PR to upstream, but you can find it here: https://github.com/loriopatrick/react-canvas-draw. See demos (I suggest you clone and toy with it locally to see if it fits your needs).

[2020-07-08 08:53] MiYazJE commented on #82
I had no more time so I had to develop by myself. bI saw what you did and it's nice. Good job!

[2020-07-08 09:01] ivanloy commented on #44
I needed an eraser mode myself, I saw some issues in the one from @WallTack that did not fit in my use case
1 - It does not erase directly, just paints a color line and erases later, I needed it to erase the same way as it would paint
2 - If its a hardcoded color, it will not work with background images.

I made the eraser mode and also a sticker mode to put stickers on the canvas passing svg or p

[2020-07-08 22:37] mexicantexan opened #92 "Redo function"
It'd be cool if there was a redo function! Instead of popping the last item off the list like undo function does, keeping a copy of the master list and just going back and forth with an index until a change deviates from the master list at which point the master list would be clipped... It's like time travel, just with lists

[2020-07-09 04:45] parammittal16 commented on #61
@NishantTadvi A working but not the very best fix is to call this.saveableCanvas.drawImage(); as well as alter canvas width or height a little bit through state, this will force canvas to re-render and will be rendering new image without previous image overlapping. Hope this helps !!

[2020-07-13 23:37] ish-joshi opened #93 "LoadSavedData - Treat as a transaction"
### Realtime support

I was attempting to build a real time drawing board using Firebase database when I realised something very strange.

I am using the `onChange` handler to be notified of any updates so that they can be written to the database.

Once new data is received, it is passed to the component to be re-drawn. As it redraws each line, the `onChange` is triggered for each line, which caus

[2020-07-20 13:32] tathagatl commented on #91
Hi @ern-arrowsmith , Any update on this issue?

[2020-07-20 13:37] ern-arrowsmith commented on #91
Hey,

No I didn't get anywhere on it, but I haven't spent much time on the game
recently.

On Mon, 20 Jul 2020, 14:33 Tathagat Lokhande, <notifications@github.com>
wrote:

[2020-07-24 18:04] darshanksexathought commented on #43
Any Updates?

[2020-07-31 22:01] corysimmons opened #95 "Transparent canvas?"
Would love to draw on people's faces.

[2020-07-31 22:07] corysimmons commented on #95
![image](https://user-images.githubusercontent.com/224636/89081128-ab22f880-d358-11ea-8377-55a4ce125aed.png)

For some reason it wraps the canvas in that div with bg white. Kinda curious why 4 canvas, but more worried about bg.

[2020-08-17 10:30] akshatbhargava123 commented on #61
I'm receiving CORS error for all the images I tried, the possible reason is that the library tries to fetch image using `XMLHttpRequest` or `fetch` or some other programmatic method.

[2020-08-17 16:27] pburtchaell commented on #95
The solution is:

[code]

[2020-08-17 19:07] corysimmons commented on #95
Thank you! I am happy now!

![image](https://user-images.githubusercontent.com/224636/90434424-5e9b2500-e09b-11ea-900b-dfe6479a8257.png)

[2020-08-17 19:07] #95 closed

[2020-08-25 04:28] YiyueMaggieMao commented on #86
I believe the props to use are canvasWidth and canvasHeight - and the drawing should automatically rescale to the canvas width and height. Hopefully it helps!

[2020-08-25 04:29] YiyueMaggieMao commented on #86
Oh one more note- canvasWidth and canvasHeight seem to only take numeric values like "200" or "300" (in pixels), so things like "200px" or "45vh" wouldn't work

[2020-09-02 04:33] mkvalluri commented on #90
I think this should work as I am doing something similar for a game that I am on working on. Will update this thread once I am done with my change.

[2020-09-03 10:55] MatanYemini opened #96 "Can I use capture stream somehow using CanvasDraw?"
Hi everyone!

Does it possible to capture the stream from the canvas somehow? could not do it.

I was thinking about something like this: [https://developers.google.com/web/updates/2016/10/capture-stream](url)

My end goal is to create a video stream out of it and send it to as a mediatrack in my WebRTC adapter.

Thanks in advance everyone!

[2020-09-14 10:59] pzal commented on #40
Made a rough proof of concept [here](https://github.com/pzal/react-canvas-draw/commit/598f1e548aea57da5ef048f30f22b7bfbdcdbf33).
![Sep-14-2020 12-47-32](https://user-images.githubusercontent.com/33444111/93077632-5aa5f700-f689-11ea-85a3-a18f957da2de.gif)

Note that it's just a quick hack at this point, it needs some polish to make it play nice with other props.

[2020-09-17 20:04] franciscoandres commented on #43
Any updates?

[2020-09-24 10:57] zwhs-co opened #98 "How to draw with rectangle or circle"
Hi, thanks for the awesome lib! Wondering if this lib can support draw with rectangle or circle shape?

[2020-10-11 16:58] jng27 commented on #43
For anyone looking for ways to download this, this works for me.

let imageURL = this.refs.saveableCanvas.canvasContainer.childNodes[1].toDataURL()
let downloadBtnRef = document.getElementById("downloadLink")
downloadBtnRef.href = imageURL

[2020-10-11 18:51] embiem commented on #43
Please, go ahead.

On Mon, 25 May 2020, 14:41 Elliot, <notifications@github.com> wrote:

[2020-10-14 05:48] TTTTTTYX commented on #60
Could you tell me how to solve this problem? Please!

[2020-10-15 03:23] TTTTTTYX opened #101 "Draw brush preview color"
ctx.beginPath();
      ctx.fillStyle = _this.props.brushColor;
      ctx.arc(brush.x, brush.y, _this.props.brushRadius, 0, Math.PI * 2, true);
      ctx.fill();

Could you increase the input parameter to set the color of this point

[2020-10-15 04:42] #101 closed

[2020-10-21 10:11] ziaongit commented on #44
I can see that?

[2020-10-24 17:27] ChangeS99 opened #102 "drawings are not appearing on the canvas."
i am using react 17, haven't tried in older version. The thing is, the brush is drawing in one of the 4 canvas element, its just not appearing.

[2020-10-25 14:18] #102 closed

[2020-10-27 17:05] ziaongit commented on #81
I did it like bellow for clear.
[code]

[2020-10-28 18:13] jonra1993 commented on #62
Hello, using @zemiacsik approach and combining some code from forums online I created this function. I hope It can help to someone in the future.

`export const combineDrawing = (canvasRef) => {
    const width = canvasRef.current.props.canvasWidth;
    const height = canvasRef.current.props.canvasHeight;
    const background = canvasRef.current.canvasContainer.children[3];
    const drawing = can

[2020-11-18 17:33] AlexxxRu opened #103 "Question: Do you interested in adding fast load/redraw functionality?"
I need to change the color/radius for already drawn lines on the fly. For now, the `getSaveData/loadSavedData` functionality extremely slow. Mostly because it requires to draw each line on the tmp ctx and copy it to the drawing ctx. If you have 10+ lines (even with 3 points only) it will have a noticeable lag.

I've added a new method to redraw all lines with different colors/radius. So if you som

[2020-11-24 19:33] kothariji commented on #90
@mkvalluri  @NizarBsb  can you please tell me guys, if it supports Socket,io or not.

[2020-11-24 20:16] NizarBsb commented on #90
@kothariji Yes, I made it working with socket.io version ^2.3.0. However it is not going to be streamed, i.e don't expect to have a live gesture drawing from the remote, it is going to take few milliseconds to refresh and then show the result. I may have done a very bad implementation but since we are saving -> push to socket.io then re-drawing the saved drawing object, this is the expected result

[2020-11-25 04:48] kothariji commented on #90
Oh, Nice. Hey buddy can you help me a little bit. Actually, i am a beginner in react and I was working on basic socket.io implementation, I was successful in making chat app, but I am not able to implement socket-io with react-canvas-draw. (My code is going in a loop) Can you please help me walk through with basic implementation of socket-io with react-canvas-draw? Thanks in Advance. :pray:

[2020-11-27 17:37] HenryLeC commented on #93
I am doing the same thing in my app, and I just dont update the database while loadSaveData is running

[2020-12-09 11:45] micTrb opened #104 "How to use references????"
I'm trying to use the funcionalities like undo(), clear() etc...
I've followed the example provided but I really ddon't understand

<CanvasDraw
          ref={canvasDraw => (this.saveableCanvas = canvasDraw)}
/>

that's what I've done in my code, but it seems that ref is not undefined....

Someone can please explain me better how to use functionalities and refs?

[2020-12-09 22:14] SimonBellucci commented on #104
If you're using React Hooks try this :

[code]

If you're still using classes :

[code]

More informations about refs [here](https://reactjs.org/docs/refs-and-the-dom.html).

[2020-12-10 09:26] micTrb commented on #104
Wow Simon,

Thank you very much! Very quick answer.

I take the occasion to ask you a new question:

That’s my function component:

I declare a ref in it by using React.createRef()…

const MyComponent = () => {

  const classes = useStyles();
  const dispatch = useDispatch();

  const ds = useSelector(state => state.ds);

  const canvasRef = React.createRef();

And this is the return function

ret

[2020-12-17 01:41] aboveyunhai opened #105 "saveData size and length"
@embiem  Just a question regarding the data format and string length.
If I want to save the data into any sort of databases, is there anything I need to concern about.

I just realize that the `saveData` in term of string length is very long with only fewer lines, even though I had set the data field with unlimited length. I wonder is there any ways I can chuck down the size?

[2020-12-17 04:43] aboveyunhai commented on #105
Oops, Just found there is a tip section about my question.

[2020-12-17 04:43] #105 closed

[2020-12-21 07:40] priyanka-zotalabs opened #106 ""Cannot read property loadSaveData of null " OR"Cannot read property 'current' of undefined ""
Code :-

import React, { useState, useEffect,useRef, } from "react";
import {Modal,Row,Col,Form,} from "react-bootstrap";

import {Paper,  makeStyles,Button,} from "@material-ui/core";
import CanvasDraw from "react-canvas-draw";

const Homework = (props) => {

const valueRef2 = useRef(
      Array.from({ length: 50 }, () => React.createRef())
    );

    console.log("show doodle", valueRef2, value

[2020-12-21 09:50] priyanka-zotalabs commented on #106
@GuillaumeAmat  @laeckerv  @vaneavasco

[2020-12-26 09:00] umkatakam opened #107 "Can I get access to the canvas element?"
I am trying to use tensorflow js to classify the drawing done on a canvas that is rendered using `react-canvas-draw`.  However, when I try to access the `canvas.ref.current` it is not an HTMLCanvasElement. E.g code

[code]
This code fails inside the click handler during classification.

This is the[ tensorflow model I am using](https://github.com/tensorflow/tfjs-models/tree/master/mobilenet).

Tha

[2020-12-27 18:50] ShahNafis commented on #61
I am also getting the same CORS error with some images. For example, an image of a dog like [this](https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2019/12/03202400/Yellow-Labrador-Retriever.jpg) one doesn't work and gives the following error.

![image](https://user-images.githubusercontent.com/29672994/103177664-6be6ce00-484a-11eb-96fa-a4a79f7f6305.png)

[2020-12-30 13:39] MatanYemini commented on #96
While trying to combining the 4 canvas into one stream, it seems like it is not working. any ideas?

[2020-12-31 10:05] #96 closed

[2020-12-31 10:06] MatanYemini commented on #96
Create a new canvas "combined" -> write the layers on its context one-by-one. Pay attention to take the drawing layer on the end

[2021-01-04 07:02] MatanYemini opened #108 "[Enhancement] Enabling writing text on the canvas"
If you can consider adding a writing text to the canvas = would be great.

** Maybe in my free time during the weekend, will get to it.

[2021-01-07 13:10] lcnlvrz opened #109 "react-dom.development.js:6202 Unable to preventDefault inside passive event listener invocation."
![Screenshot_3](https://user-images.githubusercontent.com/74165737/103896203-5e460980-50d0-11eb-90b1-9f8363f34570.png)

Unable to preventDefault inside passive event listener invocation.
This problem only happens when i try draw in device toolbar.

[2021-01-12 16:53] davzer27 opened #110 "Update props without refreshing"
Hi,
Im looking for a solution to update props of react-canvas-draw realtime.
I didnt find any solution to re-render the canvas.

For example :
`        <CanvasDraw
          ref={(canvasDraw) => (this.saveableCanvas = canvasDraw)}
          brushColor={"#000"}
          brushRadius={1}
          hideGrid={() => this.setState({ hideGrid: true })}
        />`

doesnt work.

Anybody has a solution ?

[2021-01-18 22:07] chadlavi opened #111 "Is this project dead?"
lot of unanswered issues, lot of un-merged PRs from would-be contributors. I came here to see if there were any recommendations for a few things like image file export and responsive sizing, and I see that there are folks who've made PRs for these in the past, but it seems on one is paying attention to this repo anymore.

Anyone know if this is just because there's something better out there?

[2021-01-19 16:26] JuanLuisGarciaBorrego commented on #109
hi @lcnlvrz , The same thing happens to me, you are using React >= 17?
Have you found any solution or alternative?
Thanks!

[2021-02-03 04:48] Poojatilekar opened #112 "TAR_BAD_ARCHIVE: Unrecognized archive format"

[2021-02-04 23:55] ziaongit opened #113 "onClick event"
How we can add onClick event to React Canvas Draw. It will be great if the user click on the can add mark.

[2021-02-09 12:15] olivertribe commented on #111
Hope not

[2021-02-18 01:45] Sikandarkhan commented on #108
Any update on this feature?

[2021-02-20 01:01] ManuelZ commented on #98
Would be nice to have.

[2021-02-28 04:17] rohitkrishna094 commented on #111
is there an alternative or a different fork of it? just curious.

[2021-03-04 05:41] rohitkrishna094 commented on #82
@loriopatrick Quick question, if I want to use your fork, how do I use it in my react project for example? I mean when I do npm install react-canvas-draw, it will download the upstream source code afaik. And since your fork is most likely not deployed to npm, how can I use it?

New to npm, hence the beginner-like question. Thanks.

[2021-03-04 05:52] loriopatrick commented on #82
Hi @rohitkrishna094, I think `npm install loriopatrick/react-canvas-draw` should do the trick. npm will first lookup the package in it's registry and then try resolving to Github. So `loriopatrick/react-canvas-draw` should map to https://github.com/loriopatrick/react-canvas-draw. If you add a # you can also specify a revision (commit / tag / branch). So  `npm install loriopatrick/react-canvas-draw

[2021-03-05 01:05] rohitkrishna094 commented on #82
Thank you so much @loriopatrick. Will try that.

[2021-03-08 08:23] aboveyunhai commented on #111
@chadlavi The responsive sizing issue comes from the abuse of package `Resize Observer` , which causes a side effect issue where the resize happens =>  trig `componentDidUpdate()` hook => run `Observer`.

So it becomes a headache that you cannot access the previous size state anywhere without assigning the old value somewhere.
As well as we cannot detect the first render from `componentDidMount()`

[2021-03-08 14:48] seeka commented on #109
Same. Anyone found a solution ?
Thanks

[2021-03-10 12:51] ayako02 opened #114 "How to convert the returned stringified object into base64?"
Is there anyway to convert the returned canvas's stringified object into base64?
i couldn't add an ID into the canvas element itself, because it doesnt accept id as a prop.
i tried to use `toDataURL()` function to convert it, but received an error said `toDataURL` is not a function.
Does anyone has any idea on this? because i wanna upload the canvas as an image into AWS S3 bucket... Thanks!

[2021-03-10 18:23] mnifakram commented on #91
I get it fixed by adding `postition: 'relative'` to the outer div.

[code]

I think that it should be fixed and added as default though.

[2021-03-11 15:08] lcnlvrz commented on #109
Just ignore this alert message. I think in production environment that doesn't make any problem

[2021-03-13 09:13] atharva-bhange commented on #90
@NizarBsb  So like when you save the drawing on one end and then send the saved data through a socket it redraws the whole thing in sequence every time a new save has been received. So it is not real time right?

[2021-03-18 17:27] remi95 opened #115 "Is there a way to remove catenary ?"
This is not easy to draw correctly with the catenary.
Please, is there a way to remove it, and draw directly with the pointer ? I only see the prop _catenaryColor_...

If not, I think it's a needed feature !

[2021-03-24 00:37] aboveyunhai commented on #115
set `lazyRadius` to `0`

[2021-03-25 08:10] remi95 commented on #115
That's perfect ! Thanks a lot !

[2021-03-25 08:10] #115 closed

[2021-03-27 05:40] caseymockbee97 commented on #114
https://github.com/embiem/react-canvas-draw/issues/43#issue-527164185

[2021-03-27 16:53] caseymockbee97 opened #116 "Setting default white background."
I'm trying to work from my own fork so that I can draw a white background onMount and on clear so that when I export the image it has a default white background instead of transparent. Has anyone had any luck with this? If so could you point me in the right direction of where I need to do a fillRect(0, 0, _this.canvas.drawing.width, _this.canvas.drawing.height) with-in the file.

[2021-03-27 17:18] #116 closed

[2021-03-27 17:22] caseymockbee97 commented on #116
# You need to create a function to clear:
`_this.fillBackground= function () {

      _this.valuesChanged = true;

      _this.ctx.drawing.fillStyle = '#FFFFFF'

      _this.ctx.drawing.fillRect(0, 0, _this.canvas.drawing.width, _this.canvas.drawing.height)
    }`
# call it in component did mount after this.drawImage()
`this.drawImage();

    this.fillBackground();

    this.loop();`

# and change

[2021-03-29 04:14] fsolarv22 commented on #43
To create a Base64 image you can do this:

`const canvasRef= useRef(null)
const image = canvasRef.current.canvasContainer.childNodes[1].toDataURL()

return <CanvasDraw ref={canvasRef} ...props />
`

[2021-03-29 04:16] fsolarv22 commented on #114
https://github.com/embiem/react-canvas-draw/issues/43#issuecomment-809052891

[2021-03-30 07:23] DipanshKhandelwal opened #117 "`onChange` behaviour is not as expected"
### 1. `triggerOnChange` is never called on `clear`

https://github.com/embiem/react-canvas-draw/blob/253b68ea73c01bd2c153b8a9dcb732e4a72b8432/src/index.js#L453-L468

### 2. `triggerOnChange` is called multiple times on calling `undo`: [ number of lines left on undo + 1]

`triggerOnChange` is called at the end of `undo` :

https://github.com/embiem/react-canvas-draw/blob/253b68ea73c01bd2c153b8a9dc

[2021-04-12 10:18] tot-ra commented on #85
Also interested in this. I can do canvas resize on window resize, but if its done in conjunction with background image, then background image gets stretched (so its responsive), but drawing stays on the same place (not responsive), because its stored in pixels. Maybe we could draw in relative numbers (float %) instead? Or transform pixels to % and then back to pixels on resize?

[2021-04-19 03:16] lfdom commented on #110
Use the key prop from react,
`key={`id-${hideGrid}`}`
that will force the component to re-render

[2021-05-02 19:02] Arp-G opened #118 "Event listener to detect drawing on canvas"
Firstly, thanks for this awesome library.

Currently, we have an `onChange` listener to detect changes on the canvas but it only gets invoked on mouse up, there are use cases where we need an event listener that gets executed whenever anything is drawn on canvas even without mouse up.

For example, I have a use case where I need to get the canvas data every time something is drawn on the canvas, t

[2021-05-11 21:05] leonardoks16 opened #120 "Insert label"
Hi, how could I insert labels to my canvas? Sorry for the question, I'm new on React

[2021-05-12 08:01] jhaji2911 opened #121 "it seems it does not supports react 17+ versions?"
npm ERR! While resolving: image-text-detector@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"16.x" from react-canvas-draw@1.1.1
npm ERR! node_modules/react-canvas-draw
npm ERR!   react-canvas-draw@"*" from the root project
npm ERR!

[2021-05-12 08:02] #121 closed

[2021-05-29 12:13] UmerMIB commented on #43
Can you please tell me your version?

[2021-05-29 12:29] UmerMIB commented on #43
By this I cannot get the background image just getting only canvas

[2021-06-03 05:31] UmerMIB opened #122 "background image while fetching from AWS S3 in google chrome does not work from localhost"
Hey there,
I implemented a background image that should be fetched from AWS S3 with localhost, it throws an error of cors while these images are successfully called in other parts of the app. This issue only occurs on Google chrome while in Mozilla firefox it works without any error
![Screenshot from 2021-06-03 10-30-57](https://user-images.githubusercontent.com/47888725/120592175-d550b580-c456-11

[2021-06-04 03:44] daiyi commented on #121
Were you able to fix this? I'm running into the same issue.

[2021-06-15 14:11] Talmaj commented on #121
Why did you close this? I also get this error. I installed it with `--legacy-peer-deps` flag to override it.

[2021-06-15 14:20] Talmaj commented on #104
I would recommend to put these examples in the README. This [example](https://github.com/embiem/react-canvas-draw/blob/master/demo/src/index.js) is not using `useRef` nor `.current`.

[2021-07-02 09:30] sasithahtl commented on #62
used this to make the work

[2021-07-19 09:00] miilet commented on #109
Do I have to go back to the pre-17 version?

[2021-09-09 23:15] JGP84 commented on #43
Thank you very much!

[2021-09-12 08:09] anilgulecha opened #125 "Support for pressure considered?"
Pls consider adding pressure based thickness support. Touch events can indicate the pressure on the drawing (which can be used to set the size of point/line/curve drawn).

Eg:
https://patrickhlauke.github.io/touch/tracker/tracker-force-pressure.html
https://viliusle.github.io/miniPaint/

This would make the component quite versatile.

[2021-11-07 21:40] embiem commented on #111
Hey, it is pretty dead, yes. I'm trying to set some time apart to go through the backlog of this fun little component I open sourced and now thousands apparently use 🙈, but I just can't promise anything right now.

If anybody would be interested in becoming a collaborator, please let me know.

[2021-11-07 21:53] embiem commented on #113
`onClick` event is currently not supported. Could you please elaborate a bit more on what would be your use case for it?

[2021-11-07 21:53] #113 closed

[2021-11-07 21:53] #112 closed

[2021-11-07 22:11] embiem opened #127 "The "ref" issue"
There have been some questions regarding how to use references with react-canvas-draw. I'll pull the issues #107 #106 & #104 into this one.

- [ ] Make sure we understand what ppl wanna do with a reference
- [ ] Add proper example to the docs/README (example: https://github.com/embiem/react-canvas-draw/issues/104#issuecomment-742096804)

[2021-11-07 22:12] #104 closed

[2021-11-07 22:12] #106 closed

[2021-11-07 22:12] #107 closed

[2021-11-07 22:14] embiem commented on #103
I'm currently cleaning up this repo. Would be happy to review your PR if you still want to submit one.

[2021-11-07 22:14] #103 closed

[2021-11-07 22:23] embiem commented on #98
Not right now, but I added the idea of brushes in #53, which could be utilized to draw shapes as well.

[2021-11-07 22:23] #98 closed

[2021-11-07 22:39] embiem commented on #93
Seems like a bug to me tbh. If you'd still be interested to create a PR, then please do so.

Otherwise I'll pull the [changes](https://github.com/embiem/react-canvas-draw/compare/develop...ish-joshi:develop) from your fork.

Thanks for reporting this!

[2021-11-07 22:43] embiem commented on #117
thanks for the in-depth analysis. Seems to be related to #93, so I'll track this issue in there.

[2021-11-07 22:43] #117 closed

[2021-11-07 23:12] #86 closed

[2021-11-07 23:21] embiem commented on #82
Thanks for reporting this & thanks for tackling it @loriopatrick.

It seems related to #93, so I will track the work in that issue.

[2021-11-07 23:21] #82 closed

[2021-11-07 23:22] embiem commented on #81
Should be the same issue as described in #93, so I'll close this and track the issue in 93.

[2021-11-07 23:22] #81 closed

[2021-11-08 00:10] embiem commented on #77
The hero we don't deserve indeed. Merged his PR finally (sorry for the delays), so this feature will be part of v1.2.0

[2021-11-08 00:10] #77 closed

[2021-11-08 00:20] #65 closed

[2021-11-08 00:20] embiem commented on #61
#76 is now merged which fixes this issue

[2021-11-08 00:20] #61 closed

[2021-11-08 00:24] embiem commented on #43
FYI a new function has now been added that can be used to get the data url: `getDataURL(fileType, useBgImage, backgroundColour)`

[2021-11-08 00:24] #43 closed

[2021-11-08 00:26] embiem commented on #37
Seems to be related to #93, where we track this issue right now.

[2021-11-08 00:26] #37 closed

[2021-11-08 00:27] embiem commented on #16
Fixed by #87

[2021-11-08 00:27] #16 closed

[2021-11-08 03:12] sifatdipta commented on #125
This honestly would make this program perfect! I actually came here to suggest this.

Would be awesome!

[2021-11-08 07:09] ziaongit commented on #113
![image](https://user-images.githubusercontent.com/6294965/140698571-41898c6c-16a7-4874-a542-cefce7389999.png)
If we have a click event then we can add notes to that. Click on the spot and add a note.
What I want to achieve is given in this example.

https://codepen.io/onur_kaplan/pen/XaWeNK

[2021-11-08 09:32] embiem commented on #125
Should be a low-hanging fruit to add using https://developer.mozilla.org/en-US/docs/Web/API/PointerEvent/pressure, right?

[2021-11-08 09:35] embiem commented on #113
Ah I see. In my opinion this functionality should rather live outside of the react-canvas-draw component, like a wrapper that detects the clicks.  But I'm open for discussion on this, especially if other people would like to have this functionality built-in.

[2021-11-08 15:35] sifatdipta commented on #125
Yeah I believe so, you can also look into https://github.com/stuyam/pressure

[2021-11-08 15:36] sifatdipta commented on #125
Would adding a eraser mode be too difficult? I was playing with your codes earlier to come up with a solution for both pressure and eraser mode.

[2021-11-08 17:26] danhiel98 opened #129 "Cannot read properties of undefined (reading 'getPointerCoordinates')"
That error appears when I use the library in a next js project hosted in Vercel.
I have noticed that today, because a few days ago it was working fine.

I don't know if it is due to the changes that have been made in the library or perhaps in Vercel.

[2021-11-08 18:00] danhiel98 commented on #129
I've already solve the problem.
What happened is that Vercel does not support the property `canvasWidth='100%'`

[2021-11-08 18:00] #129 closed, assigned to nobody

[2021-11-11 06:49] sacru2red commented on #129
same Issue.
canvasHeight and canvasWidth can recive only number Value.
CanvasDraw.lazy is undefined When canvasWidth is '100%'

[2021-11-11 17:31] jorgerojas26 opened #130 "[Feature Request] Resize pointer on zoom"
![image](https://user-images.githubusercontent.com/26725479/141342610-7e1adb4b-daeb-4c3c-ac7d-d68833b51316.png)

Is it posible to resize the main black point on zoom?.

When i zoom an image, the pointer is just too big.

[2021-11-24 19:35] mitjana opened #131 "getDataURL parameters useBgImage doesn't seems to work"
Hello,
Thanks for your package, it is pretty easy to use and understand.

I need to save the background as well as the drawing on it so I set the parameter useBgImage to true but this doesn't seems to work.

I looked into the source code for the getDataURL but the function called by this.drawImage doesn't seem to do anything to the export, on the other hand I saw you import another function called

[2021-11-29 23:49] oskvr opened #132 "Scrolling while drawing throws an error"
If you move the scroll wheel while drawing, a TypeError is thrown:

`_this.interactionSM.handleMouseWheel is not a function`

It can be reproduced locally as well as on the demo page: https://embiem.github.io/react-canvas-draw/

[2021-11-29 23:49] oskvr opened #133 "Accidental duplicate issue"
Accidental duplicate of #132. My bad.

[2021-11-30 11:11] #133 closed, assigned to nobody

[2021-12-07 09:16] qahtansaid commented on #109
yeah, happen to me too. waiting for an update

[2022-01-12 11:32] IslamIv commented on #131
any updates here?

[2022-01-24 19:05] gabriprat opened #134 "Cannot read properties of undefined (reading 'getPointerCoordinates') when setting a small canvasWidth"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-canvas-draw@1.2.1` for the project I'm working on.

I'm calculating the size of the canvas based on the size of the image and the size of the screen to make sure the image always fits the screen. When I tried editing images that were much taller than wider I

[2022-01-25 16:36] Zakharii-Husar commented on #109
Any updates?

[2022-01-26 12:28] Moodax opened #135 "Invariant Violation: View config getter callback for component `canvas` must be a function (received `undefined`). Make sure to start component names with a capital letter."
When trying to run CanvasDraw on Android, I get this error from the title. Everything is fine when using web browser, but for some reason it doesn't work on Android.
This is the code I'm using:
[code]

[2022-01-28 16:08] PaoloKa opened #136 "..."

[2022-01-28 16:09] PaoloKa commented on #136
I'm sorry, I didn't want to create an issue here... but I don't have the rights to delete this.

[2022-01-28 16:09] #136 closed, assigned to nobody

[2022-01-30 13:02] wondem12 commented on #131
any updates here?

[2022-01-30 14:57] mitjana commented on #131
Yes as I thought the function called was the bad one, if i remember well you just need to remove "this." in the this.drawImage :
index.js line 200 :
`drawImage({ctx: context,img: this.props.imgSrc,x: 0,y: 0,w: this.props.canvasWidth, h: this.props.canvasHeight});
`
I don't know how to do a pull request but I'll try posting one.

[2022-01-31 08:23] wondem12 commented on #62
Hi @jonra1993, im using your solution but I still get only the drawing
`  const combineDrawing = (canvasRefObj:any) => {
    const width = canvasRefObj.current.props.canvasWidth;
    const height = canvasRefObj.current.props.canvasHeight;
    const background = canvasRefObj.current.canvasContainer.children[2];
    const drawing = canvasRefObj.current.canvasContainer.children[1];
    const canvas:H

[2022-01-31 10:05] wondem12 commented on #43
any solution to get the canvas and the background-image combined ? `getDataURL(fileType, useBgImage, backgroundColour)` doesn't work

[2022-02-04 20:35] tiagoapp commented on #131
Can you please explain exactly how / where you did edit this in other to get it to work? I've looked into the node_modules for an index.js but couldn't manage it... thanks

[2022-02-21 04:25] nadermhanna commented on #109
Same! Waiting for updates

[2022-03-11 10:31] NathTech commented on #122
Hi, I get the same thing on
Brave [Version 1.33.106 Chromium: 96.0.4664.110 (Official Build) (64-bit)](https://brave.com/latest/)
and
Firefox 96.0 (64 bit)

but trying to use an image on https://firebasestorage.googleapis.com/v0/b/

[2022-03-15 03:06] freeAndeasyql commented on #109
year, it  occurs in React 17. We can go back to the pre-17 version, and add {touch-action: pan-y} to the global style

[2022-03-16 17:22] loverdeveloper commented on #134
any update?

[2022-03-18 12:58] NathTech commented on #84
Defo would be useful :)
although to be fair, you can just add the style on the CanvasDraw component :smile:

[code]

where `disabled` is your state for whether you are disabling drawing or not

[2022-03-29 11:26] apenab commented on #131
any updates here?

[2022-04-02 20:44] bee-mcc commented on #43
@wondem12 @embiem did you ever make any progress here? I would love to use the new feature to save the drawing in a canvas + the background image as one new PNG, but so far I have been playing with the newly document function ```getDataURL(fileType, useBgImage, backgroundColour)``` and it doesn't seem to work for me.

[2022-04-02 20:45] bee-mcc commented on #43
Here's what I'm doing, to no avail. It saves the drawing, but not the background image

[code]

[2022-04-03 20:07] Pramod-Butte commented on #134
Indeed amazing project!!
I am facing the same issue:

Any size below 150 will cause crash, it starts crashing at size of 149 and lower values from height and width! Strange. I would like to set the canvas size to match the size of the imgsrc Image, Any help is appreciated. Thanks

update:
on further experimentation, the lower limit for width is 150 and height is 75.

[2022-04-17 05:50] yashash-pugalia commented on #134
https://github.com/embiem/react-canvas-draw/pull/140 there is a PR to fix this apparently

[2022-04-29 05:55] skuntze commented on #131
Still not working. Any updates?

@mitjana Could you please share your modified `index.js` file with the solution? I could create the PR then... Thanks! 🙂

[2022-04-29 08:20] skuntze commented on #131
@embiem I am currently investigating what is happening when getting the image data **with** the background.

Disclaimer: I haven't really worked a lot with canvas elements ✌️

In the index.js on line 178, you save the reference to the canvas.

`let canvasToExport = this.canvas.drawing;`

In total, the library uses four canvas instances.

I found out that the background image is part of the canvas

[2022-05-05 12:37] mitjana commented on #131
Hello,
I just made a pull request with the line modified. Check PR [#141](https://github.com/embiem/react-canvas-draw/pull/141)

I hope it can help you.

[2022-05-05 17:05] lablitt commented on #62
Thanks for this function is really helpful, only change I had to make was change the background image index from 3 to 0, so its
    `const background = canvasRef.current.canvasContainer.children[0]; `

[2022-05-12 11:11] leeprobert opened #142 "Support for React 18 & typescript"
Had to `--force` the package to install under `react@18.1.0` and also had issues with Typescript types that was resolved with `npm i --save-dev @types/react-canvas-draw --force`

[2022-05-12 11:35] leeprobert commented on #142
Actually still getting errors with `typescript`: `Could not find a declaration file for module 'react-canvas-draw'` - the recommended resolution (above) didn't work after all.

[2022-05-12 11:39] leeprobert commented on #142
The solution for `typescript` is to add a file called `type.d.ts` and put this line in it: `declare module 'react-canvas-draw';` - that will be enough for the compiler to accept the import of the module.

[2022-05-12 12:06] leeprobert commented on #142
If you need to start doing anything useful with this component in Typescript you'll have to start declaring all the types. My declaration file is currently:
[code]

[2022-05-12 15:02] leeprobert opened #143 "Property 'getDataURL' does not exist on type 'CanvasDraw'"
This is a typescript issue I think. I can see the method exists but it hasn't been added to the `index.d.ts` file that tells the compiler they are available. I tried to manually edit the file to include the signature but it still complains that:
`Property 'getDataURL' does not exist on type 'CanvasDraw'`
I think there are other methods missing from the type declaration. The Typescript support need

[2022-05-13 14:57] leeprobert commented on #143
This is how you can bypass the compiler issues for just that one line of code:
[code]

[2022-05-16 09:54] skuntze commented on #131
@mitjana Thank you so much for creating the pull request ✌️ I've just tested it locally and I am getting the following runtime error:

`Uncaught TypeError: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The provided value is not of type '(CSSImageValue or HTMLCanvasElement or HTMLImageElement or HTMLVideoElement or ImageBitmap or OffscreenCanvas or SVGImageElement or VideoFrame)'.` d

[2022-05-16 15:15] leeprobert opened #145 "Feature request: callbacks for common events"
Currently you have an `onChange` event, but we also need events for when we playback the drawing. An `onAnimationStart` and `onAnimationEnd` event would be good.

[2022-05-17 16:56] leeprobert opened #149 "Animation events continue after loading new data"
If you use the `loadSaveData` method whilst there is already a drawing in progress it doesn't clear the animation before starting the new one. The result is that it flickers between the two data sets.

[2022-05-18 17:38] Thunderducky commented on #122
I ran into this and got around it by setting `immediateLoading` to true

[2022-05-19 10:32] MaximeYunow commented on #131
Hi there,

@skuntze I think you may have a clue concerning the canvas ref at line 178 in index.js. Seems like we get only the drawings but not the bgImage as it is drawn on the canvas grid. I'm no expert but it looks like a good lead, right ?

@embiem I really appreciate your work on this library. I would like to use background image in my project too but as it's still not working...
Let us know i

[2022-06-14 01:14] Jucesr commented on #131
Hi there.

I had the same problem so I made this.

https://codesandbox.io/s/canva-with-background-image-uf652c

[2022-06-15 11:10] scloutier75 commented on #44
@WallTack @ziaongit Is the code of your erasers is available somewhere, the canvas is amazing but this functionality is a must for me?

[2022-06-15 11:21] scloutier75 commented on #44
@WallTack Nevermind, just found the code in your repos, thanks.

[2022-06-15 20:19] bsjaramillo opened #152 "Postion canvas always static"
I'm trying to put CanvasDraw inside a div wich have absolute position setted but CanvasDraw always is static., and the parent div dont stay absolute, Can i do this ?

[2022-06-15 20:21] #152 closed, assigned to nobody

[2022-06-19 16:49] bsjaramillo opened #153 "Uncaught TypeError: Cannot read property 'getPointerCoordinates' of undefined."
at CanvasDraw.loop (index.js:462)
    at CanvasDraw.applyView (index.js:235)
    at coordinateSystem.js:155
    at Set.forEach (<anonymous>)
    at CoordinateSystem.setView (coordinateSystem.js:154)
    at CoordinateSystem.set (coordinateSystem.js:252)
    at ref (index.js:721)
    at commitAttachRef (react-dom.development.js:20875)
    at commitLayoutEffects (react-dom.development.js:23431)
    a

[2022-06-23 17:35] jaxomlotus commented on #118
Echoing strong interest in this. If there's an alternative branch with this feature I'd be interested. What I'd like is a call back to get the x,y position of the cursor on every pixel change.

[2022-07-20 08:26] lindychi opened #155 "apply clear reactangle"

[2022-07-21 16:51] vmz-tim commented on #127
The actual canvas element is for whatever reason: `canvas.current.canvasContainer.children[1]`

I don´t get why its not just in the docs.

[2022-07-27 20:52] NiallRedMane commented on #153
I think this is the same issue as #134, and will be resolved if the pr #140 every gets merged.

until then you can use the npm package that iinlcudes the fix, instead of this main package
https://www.npmjs.com/package/@win11react/react-canvas-draw